@{
    ViewData["Title"] = "Contact Us";
}


<h1>ContactUs</h1>

@section BreadCrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active"><a href="#">Page 2</a></li>
        </ol>
    </nav>
}