
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/Site.css" />
</head>
<body>
    <h1>Get into the line from our BookStore @DateTime.Now.Date.ToShortDateString()</h1>
    <img src="~/images/logo-with-bg.jpg" class="logo" />
    <img src="~/MyStaticFiles/Logo.jpg" class="logo" />

    
</body>
</html>
