################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cloudhostica.BookStore/.vs
/Cloudhostica.BookStore/Cloudhostica.BookStore/bin/Debug/net6.0
/Cloudhostica.BookStore/Cloudhostica.BookStore/obj
