@model IEnumerable<BookModel>

@{
    ViewData["Title"] = "All Books";
}


@section BreadCrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active"><a href="#">Page 2</a></li>
        </ol>
    </nav>
}
<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row">
        @foreach(var book in Model){
        <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg></svg>
                    <div class="card-body">
                        <h3 class="card-title">@book.Title</h3>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/book/GetBook/@book.Id" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>
            </div>
            }
    </div>
</div>